/* General variables */
:root{
    --font: 'Encode Sans Expanded', sans-serif;
    --mainColor:
    --accentColor: 
}

/* General styling */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: var(--font);
    color: white;
    /* border: 1px solid black; */
}

/* >>>>>>>>>>>>>>>>>>>>>>>>> */
/* Body */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 40px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>> */
/* Header */
header {
    height: 100px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>> */
/* Central */
#mainSection {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "leftSection sideBar";
}

/* >>>>>>>>>>>>>>>>>>>>>>>>> */
/* Left block */
#leftBlock {
    background-color: rgb(255, 83, 83);
    grid-area: leftSection;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.left-wrapper{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    width: 500px;
    height: 300px;
}

/* Title */
.title-page{
    margin-bottom: 30px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>> */
/* Sidebar */
#sideBar {
    background-color: rgb(78, 78, 114);
    grid-area: sideBar;
    padding: 30px 30px 80px 30px;
    /* padding-bottom: content: */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Title */
#scoresTitle{
    height: fit-content;
    margin-bottom: 60px;
}

/* Top users */
#topUserWrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.top-user{
    margin-bottom: 30px;
}

/* Footer */
footer {
    height: 50px;
}


/* Font styling */